<div class="container mt-2">
    
    <div class="form-group mb-2 ">
        <input (keyup)="searchSchool()" [(ngModel)]="schoolName" name="schoolName" type="text"
            class="form-control col-md-6" placeholder="search school">
    </div>

    <div *ngIf="!filtered" class="row">
        <div class="col-md-4" *ngFor="let school of schools">
            <img class="img-fluid" src="../../../assets/Closed_Folder.svg">
            <p class="font-weight-bold"><a [routerLink]="['/schools',school.name]"
                    class="text-center">{{school.name}}</a></p>
        </div>
    </div>

    <div *ngIf="filtered" class="row">
        <div class="col-md-4" *ngFor="let school of filteredSchools">
            <img class="img-fluid" src="../../../assets/Closed_Folder.svg">
            <p class="font-weight-bold"><a [routerLink]="['/schools',school.name]"
                    class="text-center">{{school.name}}</a></p>
        </div>
    </div>

</div>