<!--Post papers -->
<div class="container mt-5">

    <form action="" [formGroup] ="paperData" (ngSubmit) = "post()" class="shadow p-5 col-md-6 offset-md-3">
        <div class="form-group">
            <label for="">School</label>
            <select name="" id="" formControlName="schoolName" class="form-control">
                <option value="Computing and Informatics">Computing and Informatics</option>
                <option value="Medicine">Medicine</option>
                <option value="Education">Education</option>
                <option value="Arts">Arts</option>
                <option value="Public Health">Public Health</option>
                <option value="Music">Music</option>
                <option value="Mathematics and Actuarial Science">Mathematics and Acturial Science</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Year of Study</label>
            <select name="" id="" formControlName="yearOfStudy" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Exam year</label>
            <input type="text" formControlName="examYear" class="form-control" placeholder="Enter examination year">
        </div>

        <div class="form-group">
            <label for="">Unit Code</label>
            <input type="text" formControlName="unitCode" class="form-control" placeholder="Enter Unit code">
        </div>

        <div class="form-group">
            <label for="">Unit Name</label>
            <input type="text" formControlName="unitName" class="form-control" placeholder="Enter Unit Name">
        </div>
        <!-- (change) = "onChange($event) -->
        <!-- (click)="onUpload()" -->
        <!-- <div class="form-group">
            <input type="form-control" type = "file" >
            <button class="btn btn-success">Upload</button>
            
        </div> -->
        <button type="submit" class="btn btn-primary btn-sm">Post Paper</button>

    </form>
</div>