<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let exam of activeYear.units">
            <img class="img-fluid" src="../../../assets/1308725027.svg">
            <p class="font-weight-bold">{{exam.name}}</p>

        </div>
    </div>
</div>
