<div class="container mt-4">
    <div class="row">
        <div class="col-md-4" *ngFor="let year of activeSchool.years">
            <img class="img-fluid" src="../../../assets/Closed_Folder.svg">
            <p class="font-weight-bold"><a [routerLink]="['./',year.name]" class="text-center">Year {{year.name}}</a></p>

        </div>
    </div>
</div>